.detailCardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-weight: 500;
}

.repositoryCardItem img {
    width: 100%;
}

.descriptionWrapper {
    margin-top: 20px;
}